<ibm-accordion align="start" style="height: 150px; overflow-y: auto">
  <ibm-accordion-item *ngFor="let item of items" title="{{ item.name }}">
    <ibm-slider
      label="Experience level"
      [min]="0"
      [max]="100"
      [step]="1"
      [shiftMultiplier]="1"
      [value]="item.experienceLevel"
      (valueChange)="valueChange($event, item.id)"
    >
      <span minLabel>0</span>
      <span maxLabel>100</span>
      <input [ngClass]="{ 'bx--text-input--light': 'light' === 'light' }" />
    </ibm-slider>
  </ibm-accordion-item>
</ibm-accordion>

<button (click)="printArray()">See array</button>
